@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


a {
    text-decoration: none;
    color: black;
}

.logo {
    height: 70px;
    width: 70px;
}

.main-heading {
    font-size: 2.5em;
    font-family: Pacifico;
    padding: 0 2em 0 2em;
}

.desktop-category-heading {
    padding-left: 0;
}

.main-heading-link:hover {
    text-decoration: none;
    color: black;
}

.navigation-styling {
    border: 1px solid #198754;
    border-radius: 5px;
    padding: 0 1.5em 0 1.5em;
    margin: 0 0 0 0;
}

.nav-link:hover,
.search-box:hover,
.genre-button:hover,
.btn-success:hover {
    background-color: #198754;
    margin: 0;
    font-family: Pacifico;
    font-weight: 200;
}

.policy-link{
    margin-left: 1.25em;
}

.policy-link:hover {
    color: #198754;
}

.policy-heading {
    margin-top: 0.5em;
    font-family: Pacifico;
}

.card:hover {
    border: 1px solid #198754;
    background-color: #e9ecef;
}

.nav-link {
    text-align: center;

}

.input-box:focus {
    border-color: #198754;
    box-shadow: none;
    font-weight: 300;
}

.text-menu-style:hover {
    color: white;
}

.text-menu-style {
    white-space: nowrap;
}

.search-box-style {
    padding-left: 1em;
}

.btn:focus {
    border-color: #198754;
    box-shadow: 3px 3px grey
}

.copyright-styling {
    background-color: rgba(0, 0, 0, 0.2);
}

.copyright-styling p {
    padding: 2em 0 1em 0;
}

.paragraph-styling {
    font-family: Pacifico;
}

.introduction {
    padding:  3em 0 0 1em;
}

.back-to-profile-button {
    padding: 2em 0 0.25em 0;
}

h2 {
    padding: 0 0 1em 0;
    font-family: Pacifico;
}

.text-header-spacing {
    margin: 1em 0 1em 0;
}

.text-spacing {
    margin: 0 0 2em 0;
}
.card {
    width: 18em;
    margin-bottom: 1em;
}

.card img {
    max-height: 320px;
    max-width: 480px;
}

.news-content {
    margin-top: 2%;
}

.news-content h3 {
    font-family: Pacifico;
    text-align: center;
    padding-top: 3px;
}

ul {
    list-style-type: none;
}

.news-navigation-aside {
    padding: 2em 0.9375em 0 0.125em;
    width: 22vw;
    height: 165vh;
    margin-right: 15px;
    float: left;
    font-style: italic;
    background-color: #f8f9fa;
    text-align: left;
}

.genre-navigation-aside {
   
    padding: 2em 0.9375em 0 0.9375em;
    width: 22vw;
    height: 165vh;
    float: right;
    font-style: italic;
    background-color: #f8f9fa;
    text-align: center;
}

.news-heading {
    padding-left: 2.5em;
    padding-bottom: 0.5em;
}

.aside-genre-heading {
    padding:0.25em 0 0.5em 0;
    font-family: pacifico;
}

.form-hr {
    color: #198754;
    padding: 0 0 0 0;
    opacity: 0.9;
}

.news-hr {
    margin: 1.25em 0 1.35em 0;
    color: #198754;
    opacity: 0.9;
}

.genre-hr {
    margin: 0 0 1em 0;
    color: #198754;
    opacity: 0.9;
}

.hr-editstory {
    margin: 1em 0 2.25em 0;
}

.story-heading-editstory{
    font-family: pacifico;
    font-size: larger;
    margin-bottom: 1em;

}

.create-privacypolicy-hr {
    color: #198754;
}

.genre-aside-text {
    margin-bottom: 1.5em;
}

.news-text {
    font-weight: 600;
}

.message-container {
    padding: 0 0 2em 0;
}

.message-container, h4 {
    padding: 1em 0 1em 0;
}

.flash-message-styling {
    margin-bottom: 2em;
}

/* Style for story containers*/

.story-styling {
    margin-bottom: 1em;
}

.story-title {
    font-weight: 400;
    font-size: 0.9em;
}

.story-plot {
    font-weight: 400;
    font-size: 0.75em;
}

.active-story:hover {
    box-shadow: none;
    font-weight: 400;
}

.section-heading {
    padding: 0.5em 0 0.5em 0em;
}

.rounded-pill {
    padding: 0.8em 0.8em 0.8em 0.8em;
    margin-bottom: 1em;
    font-size: 0.9em;
}

.author-styling {
    text-decoration: underline;
}

.btn-outline-success:hover {
    font-family: pacifico;
}

.fa-arrow-alt-circle-up {
    padding: 0.25em 0.35em 0em 0.35em;

}

.back-to-top {
    font-size: 20px;
}

.btn-lg {
    margin: 0.75em 0 1.5em 0;
}

.background-theme {
    background-color: #f8f9fa;
    border-color: #198754;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px 5px 5px 5px;
    opacity: 0.95;
}

.form-intro {
    margin: -20px 0 0 0;
}

.form-styling {
    padding: 3em 0 0 0;
    
}

.form-label-spacing {
    padding: 0.5em 0 0.5em 0;
}

.flash-message {
    line-height: 1.6;
}

.change-text-color {
    color: black;
}

.login-options {
    margin: 1.45em 0 1.75em 0;
    color: black;
    font-size: 1em;
    font-weight: 500;
}

.password-check-success {
    color: #198754;
    font-size: .875em;
}

.password-check-failure {
    color: red;
    opacity: 0.8;
    font-size: .875em;
}

.profile-page-heading {
    font-size: 1.5em;
}

.form-label-spacing-profile {
    padding: 1.75em 0 1.75em 0;
    margin: 0 2em 0 2em;
}

.profile-page-buttons {
    font-size: 1.1em;
}

.form-input-box-text {
    font-size: 1.1em;
}

.form-input-button-text {
    font-size: 1.25em;
}

.recapcha-text-spacing {
    padding: 0.75em 0 0 0;
}

.profile-checkbox-spacing {
    margin: 1.5em 0 2em 0;
}

.profile-checkbox-text-spacing {
    padding: 1.45em 0 0 0;
    font-size:medium;
    font-weight: 600;
    margin: 0 0 0 0;
}

.profile-button-spacing {
    margin: 2em 0 2em 0;
}

.valid-feedback {
    font-size: 1.15em;
}

.invalid-feedback {
    font-weight: 600;
    font-size: 1.1em;
}
/* Rules for the genre thumnails on the R/H aside */
.crime-background-story-image {
    background-image: url('/static/images/crime.jpg');
    width: auto;
    height: 180px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    margin: 1em 0 1em 0; 
}

.fantasy-background-story-image {
    background-image: url('/static/images/fantasy.jpg');
    width: auto;
    height: 180px;
    background-size: cover;
    background-position:top;
    border-radius: 5px;
    margin: 1em 0 1em 0; 
}

.fiction-background-story-image {
    background-image: url('/static/images/fiction.jpg');
    width: auto;
    height: 180px;
    background-size: cover;
    background-position:top;
    border-radius: 5px;
    margin: 1em 0 1em 0; 
}

.history-background-story-image {
    background-image: url('/static/images/history.jpg');
    width: auto;
    height: 180px;
    background-size: cover;
    background-position:center;
    border-radius: 5px;
    margin: 1em 0 1em 0; 
}

.horror-background-story-image {
    background-image: url('/static/images/horror.jpg');
    width: auto;
    height: 180px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    margin: 1em 0 1em 0; 
}

.thriller-background-story-image {
    background-image: url('/static/images/thriller.jpg');
    width: auto;
    height: 180px;
    background-size: cover;
    background-position:center;
    border-radius: 5px;
    margin: 1em 0 1em 0; 
}

.like-story-button {
    padding: 1em 1em 1em 1em;
    margin: 0 0 2em 0;
}

.genre-aside-card {
    margin-left: 0.4em;
    opacity: 0.9;
}

.genre-aside-thumbnails {
    height: 60px;
    width: auto;
    
}

.card-thumbnails-body, .removestory-heading {
    padding: 1em 0 0.5em 0;
}

.editpage-content {
    font-size:larger;
}
/* ------------------------- Media queries ----------------------------- */
/*- < 250px-*/
@media only screen and (max-width: 249px) {
    .logo {
        height: 35px;
        width: 35px;
    }

    .main-heading {
        font-size: 0.8em;
        padding: 0 0 0 0;
    }

    .fab {
        font-size: 0.5em;
    }

    .card {
        width: 12em;
    }

    aside {
        display: none;
    }

    .g-recaptcha {
        transform: scale(0.50);
        transform-origin: 0 0;
    }

    .desktop-category-heading {
        display: none;
    }
}
  /*- 250px - 320px -*/
  @media only screen and (min-width: 250px) and (max-width: 320px) {

      .logo {
          height: 35px;
          width: 35px;
      }

      .main-heading {
          font-size: 1.15em;
          padding: 0 0 0 0;
      }

      .fab {
          font-size: 0.8em;
      }

      .card {
          width: 12em;
      }

      aside {
          display: none;
      }

      h4 {
          font-size: 0.95em;
      }

      .author-styling {
          font-size: 0.75em;
      }

      .g-recaptcha {
          transform: scale(0.66);
          transform-origin: 0 0;
      }

      .desktop-category-heading {
          display: none;
      }
  }
  /*- 321px - 499px -*/
  @media only screen and (min-width: 321px) and (max-width: 499px) {

      .logo {
          height: 50px;
          width: 50px;
      }

      .main-heading {
          font-size: 1.6em;
          padding: 0 0 0 0;
      }

      .card {
          width: 14em;
      }

      aside {
          display: none;
      }

      .card-padding {
          padding-left: 1.6em;
      }

      h4 {
          font-size: 1.1em;
      }

      .author-styling {
          font-size: 0.8em;
      }

      .background-theme {
          background-color: #f8f9fa;
          border-color: #fafafa;
      }

      .g-recaptcha {
          transform: scale(0.87);
          transform-origin: 0 0;
      }

      .desktop-category-heading {
          display: none;
      }
  }
  
  /*- 500px - 767px -*/
  @media only screen and (min-width: 500px) and (max-width: 767px) {
      .main-heading {
          font-size: 2em;
          padding: 0 0 0 0;
      }

      .card {
          width: 14em;
      }

      aside {
          display: none;
      }

      .background-theme {
          background-color: #f8f9fa;
      }

      .password-message-wrap {
          display: none;
      }

      .desktop-category-heading {
          display: none;
      }
  }

  /*- 768px - 991px -*/
  @media only screen and (min-width: 768px) and (max-width: 991px) {
      .card {
          width: 14em;
      }

      .desktop-category-heading {
          display: none;
      }

      .aside-genre-card {
        transform: scale(0.7);
     }
     h5 {
         font-size: 95%;
     }

  }
  
  /*- 992px - 1023px -*/
  @media only screen and (min-width: 992px) and (max-width: 1023px) {

      .logo {
          height: 50px;
          width: 50px;
      }

      .main-heading {
          font-size: 1.6em;
          padding: 0 0 0 0;
      }

      .card {
          width: 16em;
      }

      .password-message-wrap {
          display: none;
      }

      .mobile-category-heading {
          display: none;
      }

      .navbar-collapse {
          flex-grow: 0.5;
      }

      .aside-genre-card {
          transform: scale(0.8);
      }
   
  }
  
  /*- 1024px - 1200px -*/
  @media only screen and (min-width: 1024px) and (max-width: 1200px) {
      .main-heading {
          font-size: 2.4em;
          padding: 0 0.5em 0 0;
      }

      .logo {
          height: 60px;
          width: 60px;
      }

      .navigation-styling {
          padding: 0 0 0 0;

      }

      .navbar-collapse {
          flex-grow: 0.5;
      }

      .search-input-box {
          margin-left: 0.5em;
      }

      .card {
          width: 16em;
      }

      .password-message-wrap {
          display: none;
      }

      .mobile-category-heading {
          display: none;
      }

      .aside-genre-card {
        transform: scale(0.9);
        padding: 0 0.2em 0 0.2em;
    }
  }

  /* 1200px -> */
  @media only screen and (min-width: 1200px) {

    .password-message-wrap{
        display:none;
    }
    .mobile-category-heading {
        display: none;
    }

    .navbar-collapse {
         flex-grow: 0.55; 
    }
}