<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block cssstyles %}
    {% endblock %}
    <title>Base Template</title>
   </head>
<body>
  
    <header>
        <!-- This is for the Desktop view -->
        <nav>
            <div class="nav-wrapper blue-grey lighten-2">
               <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
               <span class="site-name">The Write Way</span>
                <ul class="right hide-on-med-and-down">
                <li><a href="#">Home</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Join</a></li>
                <li><a href="#">About</a></li>
              </ul>
            </div>
          </nav>
        <!-- This is for the Mobile view -->
          <ul class="sidenav blue-grey lighten-2" id="mobile-demo">
            <li><a href="#" class="white-text">Home</a></li>
                <li><a href="#" class="white-text">Login</a></li>
                <li><a href="#" class="white-text">Join</a></li>
                <li><a href="#" class="white-text">About</a></li>
          </ul>
          
    </header>
   
    <div class="big-image">
    <div class="overlay">
      
        <div class="container" style="text-align:center">
          <div class="row">
            <div class="col s6 m12">
              <h1>Share Your Story</h1>
               <br>
            </div>
           </div>

          <div class="row">
            <div class="col m12 s12">
              <input class="grey-text text-lighten-5"type="text" placeholder="Search Stories..">
            </div>
          </div>
        <div class="row">
          <div class="col s12 m6"><a class="waves-effect waves-light btn-small grey-text text-lighten-3"><i class="fas fa-book-open">  Read.</i></a></div>
          <div class="col s12 m6"><a class="waves-effect waves-light btn-small grey-text text-lighten-3"><i class="far fa-edit">  Write</i></a></div>
        </div>
        </div>
        
        
      
      
    </div>
  </div>
   
   <!--   {% block content %}
    {% endblock%}--> 
    
    <footer class="page-footer  blue-grey lighten-2">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            
            <p class="grey-text text-lighten-4">The Write Way is a free online writing site that provides the tools for writers to publish their short stories and connect with readers from across the world. Join The Write Way and tell your story today.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Social Media</h5>
            <ul>
               <div class="social-media ">
                <li> <a href="https://www.facebook.com/" class="grey-text text-lighten-3 flow-text" target="_blank" rel="noopener" aria-label="facebook" title="facebook"><i class="fab fa-facebook social-media fa-lg "></i></a>
                  <a href="https://www.youtube.com/" class="grey-text text-lighten-3 flow-text" target="_blank" rel="noopener" aria-label="youtube" title="youtube"><i class="fab fa-youtube-square social-media fa-lg"></i></a>
                  <a href="https://instagram.com/?lang=en/" class="grey-text text-lighten-3 flow-text" target="_blank" rel="noopener" aria-label="instagram" title="instagram"><i class="fab fa-instagram social-media fa-lg"></i>
                     <a href="https://twitter.com/?lang=en/" class="grey-text text-lighten-3 flow-text scale-transition scale-out" target="_blank" rel="noopener" aria-label="twitter" title="twitter"><i class="fab fa-twitter social-media fa-lg"></i></a></li>
              </div>
            </ul>
          </div>
        </div>
      </div>
            
      <div class="footer-copyright">
        <div class="container">
          <div class="row">
            <div class="col s12">
        <p >The Write Way © 2021 | All rights reserved. The terms under which this service is provided to you is outlined in the<a href="policy.html" class="private-policy black-text"> Privacy Policy.</a></p>
        </div>
      </div>
    </div>
  </div>
      
      </footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block customscripts %}
    {% endblock %}
</body>
</html>