<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    type="text/css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
  {% block cssstyles %}
  {% endblock %}
  <title>
    {% block title %}
    {% endblock %}
  </title>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('get_genre') }}" id="top-of-page"><img src="static/images/pen.png" title="Image of pen" aria-current="Image of pen" alt="Image of pen" class="logo"></a>
        <h1 class="main-heading" title="Site Heading" aria-label="Site Heading">The Write Way</h1>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Mobile Nfromavigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 navigation-styling">
            <li class="nav-item">
              <a class="nav-link active home-page" title="Home" aria-current="Home Page" href="{{ url_for('get_genre') }}"><span
                  class="text-menu-style">Home</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link active nav-link" aria-label="Join Us" href="{{ url_for('join') }}"><span class="text-menu-style">Join Us</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link active nav-link" aria-label="Sign In" href="#"><span class="text-menu-style">Sign In</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link active nav-link" aria-label="Profile Page" href="#"><span class="text-menu-style">My Page
                  </span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link active nav-link" aria-label="Create Story" href="#"><span class="text-menu-style">Create
                  </span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link active nav-link" aria-label="Edit Story" href="#"><span class="text-menu-style">Edit
                  </span></a>
            </li>
          </ul>
          <form class="d-flex">
            <input class="form-control me-2 input-box search-input-box" type="search" placeholder="Search Stories.."
            title="search box" aria-label="Search">
            <button class="btn btn-outline-success search-box" type="submit" >Search</button>
          </form>
        </div>
      </div>
    </nav>
  </header>
<!-- News content-->

  <aside class="news-content">
    <h3 title="News Content" aria-label="News content">Latest News</h3>
    
    <ul>
      <li><p>Our Top read of the week</p> <!--pull some stat from the db--></li>
      <li><p>Our Top Contributing Author is Joe Bloggs</p> <!--Insert most freqently updated profile--></li>
      <li><p>Find our our longest published story here "The Stand" By Stephen King<!-- Retrieve another stat from the DB here--></p></li>
      <li><p>Check out our most recently added genre...</p> <!--pull some stat from the db--></li>
    </ul>
 </aside>

<!-- Introduction -->
<section>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div class="introduction">
            <p title="introduction" aria-label="introduction"><span class="paragraph-styling">Welcome </span>to the <span class="paragraph-styling">Write Way,</span>
              a site for reading enthusiasts and writers alike. Feel free to read our vast selection of short stories.
            </p>
            <p title="instructions" aria-label="instructions">Get your first short story published with us just by signing up and logging in, its that easy!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-around">
    <!--<div class="form-group col-sm-12 col-md-11 col-lg-6 col-xl-6">
      <hr>
    </div>-->
  </div>
  </section>
  <!-- Initally From the Genre page, then every other template page there after  -->
  <section>
    {% block content %} 
    {% endblock %}
  </section> 
  
  
  <footer class="text-center bg-light">
    <div class="container pt-4">
      <section class="mb-4">

        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://www.facebook.com/" target="_blank"
          rel="noopener" aria-label="facebook" title="facebook" role="button">
          <i class="fab fa-facebook social-media fa-lg"></i></a>

        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://www.youtube.com/" target="_blank"
          rel="noopener" aria-label="youtube" title="youtube" role="button">
          <i class="fab fa-youtube-square social-media fa-lg"></i></a>

        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://twitter.com/?lang=en/" target="_blank"
          rel="noopener" aria-label="twitter" title="twitter" role="button">
          <i class="fab fa-twitter social-media fa-lg"></i></a>

        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://instagram.com/?lang=en/" target="_blank"
          rel="noopener" aria-label="instagram" title="instagram" role="button">
          <i class="fab fa-instagram social-media fa-lg"></i></a>

    </div>

    <div class="text-center text-dark p-1 copyright-styling">
      <p title="Privacy Policy" aria-label="Privacy Policy">The Write Way © 2021 | All rights reserved. The terms under which this service is provided to you is outlined
        in the <a href="{{ url_for('policy') }}" class="paragraph-styling policy-link">Privacy Policy.</a></p>
    </div>
  </footer>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
  </script>
  <script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  {% block customscripts %}
  {% endblock %}
</body>

</html>