{% extends "base.html" %}

{% block title %}
{{ title }}
{% endblock %}

{% block aside %}
<!-- News content -->
<section>
  <aside class="news-navigation-aside">
    <h2 class="news-heading" title="News Content" aria-label="News content">Latest News</h2>
    <ul>
      {% for new in news %}
      <li>
        <p>Here at The Write Way we are allways adding to our list of short stories, be sure to check regularly for
          newly added content.</p>
        <hr class="news-hr">
      </li>
      <li>
        <p>Explore your favourite genres, some of our our most popular are Fiction, Fantasy, Crime and Thriller.
          We look forward to adding more for your reading pleasure over the comming months.</p>
        <hr class="news-hr">
      </li>
      <li>
        <p>Our Authors are people just like you and come from all walks of life.
          We would like to give a Warm Welcome to our newest Author <span
            class="news-text">{{ new.author|title }}</span>.</p>
        <hr class="news-hr">
      </li>
      <li>
        <p>Our Authors come from all over the world sharing their writing skills for your enjoyment,<span
            class="news-text"> {{ new.author|title }}</span> is sharing with us all the way from <span
            class="news-text">{{ new.city_name|title }}</span>, <span
            class="news-text">{{ new.country_name|title }}</span>.</p> Why not start writing your first story today, its
        easy just head over and join using the link below it only takes a few minutes.
        <hr class="news-hr">
        <div class="joinus-left-aside text-center">
          <a class="btn btn-outline-success genre-button" aria-label="Join Us" href="{{ url_for('get_join') }}"><span
              class="text-menu-style">Join Us</span></a>
        </div>
      </li>
      {% endfor %}
    </ul>
  </aside>
</section>
{% endblock%}

{% block content %}
<div class="container card-padding">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="introduction">
        <h2 class="paragraph-styling">Read any of our {{ title|capitalize }} stories</h2>
      </div>
    </div>
  </div>
</div>
<div class="container genre-cards">
  <div class="row">
    {% set TheId = namespace(value=0) %}
    {%- for cri in crime|sort(attribute='popularity', reverse = True) -%}
    <!-- loops through the genre and sorts stories by popularity rating -->
    {% set TheId.value = TheId.value + 1 %}
    <!-- generates unique ids for each story -->
    {% set popularity = "crime" %}
    <!-- passes the function back the genre you were in so it returns to the same page -->
    {% if cri.genre == "crime" %}
    <div class="container story-styling card-padding ">
      <div class="row active-story no-gutters ">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-6 "></div>
        <div class="list-group">
          <div class="list-group-item list-group-item-action" aria-current="true">
            <div class="d-flex w-100 justify-content-between">
              <h4 class="mb-1"><span class="story-title">Title: </span> {{ cri.name|striptags|title }}</h4>
              <small>Author:
                <span class="paragraph-styling author-styling">{{ cri.author|striptags|title }}</span></small>
            </div>
            <div class="crime-background-story-image"></div>
            <h4 class="mb-1"><span class="story-title">Plot: </span><span class="story-plot">{{
                        cri.plot|striptags|capitalize}}</span></h4>
            <div class="d-flex w-100 justify-content-between">
              <span class="mb-1"></span><small><br>Popularity: <span class="badge bg-success rounded-pill">{{
                        cri.popularity }}</span></small>
            </div>
            <a href="#opening" data-bs-toggle="collapse" data-bs-target="#the-id-of-{{ TheId.value }}"
              class="btn btn-outline-success text-center col-12 change-text" aria-expanded="false"
              aria-controls="the-id-of-{{ TheId.value }}">
              <span>Read</span><span class="hidden">Hide</span> {{ cri.name|striptags|title }}</a>
            <div class="collapse" id="the-id-of-{{ TheId.value }}">
              <br>
              <div class="card card-story card w-100 mt-2 ">
                <div class="card-body">
                  {{ cri.content|striptags|capitalize }}
                </div>
                <div class="like-story-button">
                  <form method="POST" class="text-center" name="feedback-form"
                    action="{{ url_for('updatepopularity', genre=popularity) }}">
                    <label for="name-{{ TheId.value }}"
                      class="form-label form-label-spacing form-input-box-text"></label>
                    <input type="text" id="name-{{ TheId.value }}" class="form-control form-input-box-text" name="name"
                      value="{{ cri.name|lower }}" hidden>
                    <button class="btn btn-success text-center " type="submit" title="Submit" name="submit"
                      aria-label="Submit Form">Like this Story</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
      <a href="#top-of-page" class="btn btn-outline-success btn-lg">
        <h5><i class="far fa-arrow-alt-circle-up fa-lg"></i><span class="back-to-top">Back to Top</span><i
            class="far fa-arrow-alt-circle-up fa-lg"></i></h5>
      </a>
    </div>
  </div>
</div>
{% endblock %}