{% extends "base.html" %}

{% block title %}
{{ title }}
{% endblock %}

{% block aside %}
<!-- News content -->
<section>
  <aside class="news-navigation-aside">
    <h2 class="news-heading" title="News Content" aria-label="News content">Latest News</h2>
    <ul>
      {% for new in news %}
      <li>
        <p>Here at The Write Way we are allways adding to our list of short stories, be sure to check regularly for
          newly added content.</p>
        <hr class="news-hr">
      </li>
      <li>
        <p>Explore your favourite genres, some of our our most popular are Fiction, Fantasy, Crime and Thriller.
          We look forward to adding more for your reading pleasure over the comming months.</p>
        <hr class="news-hr">
      </li>
      <li>
        <p>Our Authors are people just like you and come from all walks of life.
          We would like to give a Warm Welcome to our newest Author <span
            class="news-text">{{ new.author|title }}</span>.</p>
        <hr class="news-hr">
      </li>
      <li>
        <p>Our Authors come from all over the world sharing their writing skills for your enjoyment,<span
            class="news-text"> {{ new.author|title }}</span> is sharing with us all the way from <span
            class="news-text">{{ new.city_name|title }}</span>, <span
            class="news-text">{{ new.country_name|title }}</span>.</p> Why not start writing your first story today, its
        easy just head over and join using the link below it only takes a few minutes.
        <hr class="news-hr">
        <div class="joinus-left-aside text-center">
          <a class="btn btn-outline-success genre-button" aria-label="Join Us" href="{{ url_for('get_join') }}"><span
              class="text-menu-style">Join Us</span></a>
        </div>
      </li>
      {% endfor %}
    </ul>
  </aside>
</section>
{% endblock%}

{% block content %}
{% for pol in policy %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div>
        <h3 class="text-center policy-heading">{{ pol.policy_description }}</h3>
      </div>
      <div class="introduction">
        {{ pol.policy_content|safe }}
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}