{% extends "base.html" %}

{% block aside %}
<!-- News content -->
<section>
  <aside class="news-navigation-aside">
    <h2 class="news-heading" title="News Content" aria-label="News content">Latest News</h2>
    <ul>
      {% for new in news %}
      <li>
        <p>Check here for the latest news on our ever expanding list of Genres, 
          Authors and stories</p>
        </li>
        <hr class="news-hr">
      <li>
        <p>We would like to give a Warm Welcome to our newest Author <span
            class="news-text">{{ new.author|title }}</span>.</p>
      </li>
      <hr class="news-hr">
      <li>
        <p><span class="news-text"> {{ new.author|title }}</span> is sharing his writing with us all the way from <span
            class="news-text">{{ new.city_name|title }}</span>, <span
            class="news-text">{{ new.country_name|title }}</span>.</p>
      </li>
      <hr class="news-hr">
      <li>
        <p>The latest addition to our <span class="news-text">{{ new.genre|title }}</span> genre is the short story
          "<span class="news-text">{{ new.name|title }}</span>", why not head over there and check it out.</p>
      </li>
      <hr class="news-hr">
      <li>
        <p>Our <span class="news-text">{{ new.genre|title }}</span> genre just recently had some short stories added...
        </p>
      </li>
      {% endfor %}
    </ul>
  </aside>
</section>
{% endblock%}

{% block content %}
{% for pol in policy %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div>
        <h3 class="text-center policy-heading">{{ pol.policy_description }}</h3>
      </div>
      <div class="introduction">
        {{ pol.policy_content|safe }}
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}