{% extends "base.html" %}

{% block title %}
{{ title }}
{% endblock %}

{% block aside %}
<!-- News content -->
<section>
  <aside class="navigation-aside">
    <h2 class="news-heading" title="News Content" aria-label="News content">Latest News</h2>
    <ul>
      {% for new in news %}
      <li>
        <p>We would like to give a Warm Welcome to our newest Author <span
            class="news-text">{{ new.author|title }}</span>.</p>
      </li>
      <hr class="news-hr">
      <li>
        <p><span class="news-text"> {{ new.author|title }}</span> is sharing his writing with us all the way from <span
            class="news-text">{{ new.city_name|title }}</span>, <span
            class="news-text">{{ new.country_name|title }}</span>.</p>
      </li>
      <hr class="news-hr">
      <li>
        <p>The latest addition to our <span class="news-text">{{ new.genre|title }}</span> genre is the short story
          "<span class="news-text">{{ new.name|title }}</span>", why not head over there and check it out.</p>
      </li>
      <hr class="news-hr">
      <li>
        <p>Our <span class="news-text">{{ new.genre|title }}</span> genre just recently had some short stories added...
        </p>
      </li>
      {% endfor %}
    </ul>
    <!-- aside navigation-->
    <h3 class="aside-genre-heading">Explore Genres</h3>
    <div class="container text-center genre-aside-card">
      <div class="row">
        <div class="col-sm card aside-genre-card">
          <img src="static/images/fiction.jpg" onerror="this.src='static/images/default.jpg';"
            class="genre-aside-thumbnails" alt="image for fiction" aria-label="image for fiction" />
          <h5 class="card-title">Fiction</h5>
          <a href="{{ url_for('fiction') }}" class="stretched-link"></a>
        </div>
        <div class="col-sm card aside-genre-card">
          <img src="static/images/fantasy.jpg" onerror="this.src='static/images/default.jpg';"
            class="genre-aside-thumbnails" alt="image for fantasy" aria-label="image for fantasy" />
          <h5 class="card-title">Fantasy</h5>
          <a href="{{ url_for('fantasy') }}" class="stretched-link"></a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm card aside-genre-card">
          <img src="static/images/horror.jpg" onerror="this.src='static/images/default.jpg';"
            class="genre-aside-thumbnails" alt="image for horror" aria-label="image for horror" />
          <h5 class="card-title">Horror</h5>
          <a href="{{ url_for('horror') }}" class="stretched-link"></a>
        </div>
        <div class="col-sm card aside-genre-card">
          <img src="static/images/history.jpg" onerror="this.src='static/images/default.jpg';"
            class="genre-aside-thumbnails" alt="image for history" aria-label="image for history" />
          <h5 class="card-title">History</h5>
          <a href="{{ url_for('history') }}" class="stretched-link"></a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm card aside-genre-card">
          <img src="static/images/thriller.jpg" onerror="this.src='static/images/default.jpg';"
            class="genre-aside-thumbnails" alt="image for thriller" aria-label="image for thriller" />
          <h5 class="card-title">Thriller</h5>
          <a href="{{ url_for('thriller') }}" class="stretched-link"></a>
        </div>
        <div class="col-sm card aside-genre-card">
          <img src="static/images/crime.jpg" onerror="this.src='static/images/default.jpg';"
            class="genre-aside-thumbnails" alt="image for crime" aria-label="image for crime" />
          <h5 class="card-title">Crime</h5>
          <a href="{{ url_for('crime') }}" class="stretched-link"></a>
        </div>
      </div>
    </div>
  </aside>
</section>
{% endblock%}

{% block content %}
<div class="container">
    <div class="row d-flex justify-content-around">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-10">
            <form id="profile" novalidate>
                <fieldset class="background-theme">
                    <br>
                    <h2 class="text-center " title="Form Title" aria-label="Form Title">Welcome
                        <p></p>{{ title|title }}
                    </h2>
                    <p class="text-center profile-page-heading"> What would you like to do today?</p>
                    <hr>
                    <div class="row d-flex justify-content-around text-center">
                        <div class="col-sm-12 col-md-12 col-lg-10 col-xl-10">
                            <div class="form-group form-label-spacing-profile">
                                <a href="{{ url_for('create') }}"
                                    class="btn btn-outline-success text-center change-text-color col-sm-12 col-md-12 col-lg-10 col-xl-12 profile-page-buttons"
                                    title="Create New Story" name="Create New Story" role="button"
                                    aria-label="Create New Story">Create A New Story
                                </a>
                            </div>
                            <div class="form-group form-label-spacing-profile">
                                <a href="{{ url_for('editStory') }}"
                                    class="btn btn-outline-success text-center change-text-color col-sm-12 col-md-12 col-lg-10 col-xl-12 profile-page-buttons"
                                    title="Edit Story" name="Edit Story" role="button" aria-label="Edit Story">Edit An
                                    Existing Story
                                </a>
                            </div>
                            <div class="form-group form-label-spacing-profile">
                                <a href="{{ url_for('removeStory') }}"
                                    class="btn btn-outline-success text-center change-text-color col-sm-12 col-md-12 col-lg-10 col-xl-12 profile-page-buttons"
                                    title="Remove Story" name="Remove Story" role="button"
                                    aria-label="Remove Story">Delete Existing Story
                                </a>
                            </div>
                            <div class="form-group form-label-spacing-profile">
                                <a href="{{ url_for('signout') }}"
                                    class="btn btn-outline-success text-center change-text-color col-sm-12 col-md-12 col-lg-10 col-xl-12 profile-page-buttons"
                                    title="home" name="home" role="button" aria-label="home">Im Finished Sign Out
                                </a>
                            </div>
                        </div>
                    </div>
        </div>
    </div>

    </fieldset>
    </form>
</div>
</div>
</div>
{% endblock %}
    
