{% extends "base.html" %}
{% block title %}
{{ title }}
{% endblock %}

{% block aside %}
<!-- News content -->
<section>
  <aside class="news-navigation-aside">
    <h2 class="news-heading" title="News Content" aria-label="News content">Latest News</h2>
    <ul>
      {% for new in news %}
      <li>
        <p>Check here for the latest news on our ever expanding list of Genres,
          Authors and stories</p>
        <hr class="news-hr">
      </li>
      <li>
        <p>We would like to give a Warm Welcome to our newest Author <span
            class="news-text">{{ new.author|title }}</span>.</p>
        <hr class="news-hr">
      </li>
      <li>
        <p><span class="news-text"> {{ new.author|title }}</span> is sharing his writing with us all the way from <span
            class="news-text">{{ new.city_name|title }}</span>, <span
            class="news-text">{{ new.country_name|title }}</span>.</p>
        <hr class="news-hr">
      </li>
      <li>
        <p>The latest addition to our <span class="news-text">{{ new.genre|title }}</span> genre is the short story
          "<span class="news-text">{{ new.name|title }}</span>", why not head over there and check it out.</p>
        <hr class="news-hr">
      </li>
      <li>
        <p>Our <span class="news-text">{{ new.genre|title }}</span> genre just recently had some short stories added...
        </p>
      </li>
      {% endfor %}
    </ul>
  </aside>
</section>
{% endblock%}

{% block content %}
<div class="container">
  <div class="row d-flex justify-content-around">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-10">
      <form id="profile" novalidate>
        <fieldset class="background-theme">
          <br>
          <h2 class="text-center" title="Form Title" aria-label="Form Title">Welcome
            {{ title|title }}
          </h2>
          <p class="text-center"> What would you like to do today?</p>
          <hr>
          <div class="row d-flex justify-content-around text-center">
            <div class="col-sm-12 col-md-12 col-lg-10 col-xl-10">
              <div class="form-group form-label-spacing-profile">
                <a href="{{ url_for('create') }}"
                  class="btn btn-outline-success text-center change-text-color col-sm-12 col-md-12 col-lg-10 col-xl-12 profile-page-buttons"
                  title="Create New Story" role="button" aria-label="Create New Story">Create A
                  New Story
                </a>
              </div>
              <div class="form-group form-label-spacing-profile">
                <a href="{{ url_for('editstory') }}"
                  class="btn btn-outline-success text-center change-text-color col-sm-12 col-md-12 col-lg-10 col-xl-12 profile-page-buttons"
                  title="Edit Story" role="button" aria-label="Edit Story">Edit An
                  Existing Story
                </a>
              </div>
              <div class="form-group form-label-spacing-profile">
                <a href="{{ url_for('removestory') }}"
                  class="btn btn-outline-success text-center change-text-color col-sm-12 col-md-12 col-lg-10 col-xl-12 profile-page-buttons"
                  title="Remove Story" role="button" aria-label="Remove Story">Delete Existing Story
                </a>
              </div>
              <div class="form-group form-label-spacing-profile">
                <a href="{{ url_for('get_genre') }}"
                  class="btn btn-outline-success text-center change-text-color col-sm-12 col-md-12 col-lg-10 col-xl-12 profile-page-buttons"
                  title="home" role="button" aria-label="home">Continue On Reading
                </a>
              </div>
            </div>
          </div>
    </div>
  </div>
  </fieldset>
  </form>
</div>
</div>
</div>
{% endblock %}