{% extends "base.html" %}

{% block title %}
{{ title }} + "Page"
{% endblock %}

{% block content %}
<div class="container">
    <div class="row d-flex justify-content-around">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-10">
            <form id="profile" novalidate>
                <fieldset class="background-theme">
                    <br>
                    <h2 class="text-center " title="Form Title" aria-label="Form Title">Welcome {{ title }}</h2>
                    <p class="text-center profile-page-heading"> What would you like to do today?</p>
                    <hr>

                    <div class="row d-flex justify-content-around">
                        <div class="col-sm-12 col-md-12 col-lg-10 col-xl-10">
                            <div class="form-group form-label-spacing-profile">
                                <a href="{{ url_for('createStory') }}" 
                                    class="btn btn-outline-success text-center change-text-color col-sm-12 col-md-12 col-lg-10 col-xl-12 profile-page-buttons"
                                    title="Create New Story" name="Create New Story" role="button"
                                    aria-label="Create New Story">Create New Story
                                </a>
                            </div>
                            <div class="form-group form-label-spacing-profile">
                                <a href="{{ url_for('editStory') }}" 
                                    class="btn btn-outline-success text-center change-text-color col-sm-12 col-md-12 col-lg-10 col-xl-12 profile-page-buttons"
                                    title="Edit Story" name="Edit Story" role="button"
                                    aria-label="Edit Story">Edit Existing Story
                                </a>
                            </div>
                            <div class="form-group form-label-spacing-profile">
                                <a href="{{ url_for('removeStory') }}" 
                                    class="btn btn-outline-success text-center change-text-color col-sm-12 col-md-12 col-lg-10 col-xl-12 profile-page-buttons"
                                    title="Remove Story" name="Remove Story" role="button"
                                    aria-label="Remove Story">Remove Existing Story
                                </a>
                            </div>
                            <div class="form-group form-label-spacing-profile">
                                <a href="{{ url_for('genre') }}" 
                                    class="btn btn-outline-success text-center change-text-color col-sm-12 col-md-12 col-lg-10 col-xl-12 profile-page-buttons"
                                    title="home" name="home" role="button"
                                    aria-label="home">Nothing Im done
                                </a>
                            </div>
                        </div>
                    </div>
        </div>
    </div>

    </fieldset>
    </form>
</div>
</div>
</div>
{% endblock %}
    
