{% extends "base.html" %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <form id="signin-form" method="POST" class="needs-validation" novalidate action="{{ url_for('resetPassword') }}" onsubmit="return isRecapchaValid()">
                <fieldset class="background-theme">

                    <div class="row d-flex justify-content-around">
                        <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8 col-8">
                            <br>
                            <h2 class="text-center" title="Form Title" aria-label="Form Title">{{ title }}</h2>
                            <div class="form-group form-label-spacing">
                                <label for="pen-name" class="form-label form-label-spacing">Pen Name</label>
                                <input type="text" class="form-control" id="pen-name" name="pen_name"
                                    aria-label="Pen Name" title="Pen Name" placeholder="Pen Name" required="required">
                                <div class="valid-feedback">
                                    Your all set!
                                </div>
                                <div class="invalid-feedback">
                                    Please check your Pen Name
                                </div>
                            </div>
                            <div class="form-group form-label-spacing">
                                <label for="passwordField1" class="form-label form-label-spacing">New User Password</label>
                                    <input type="text" class="form-control" id="passwordField1" name="Initial Password" aria-label="Initial Password" title="Initial Password" 
                                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="8 or more characters 0-9, a-z, A-Z" required>
                                    <div class="valid-feedback">
                                    Your all set!
                                    </div>
                                    <div class="invalid-feedback">
                                    Minimum required 8 <br class="password-message-wrap">characters (0-9, a-z, A-Z)
                                    </div>
                            </div>
                            <div class="form-group form-label-spacing">
                                <label for="password" class="form-label form-label-spacing">Re-enter Password</label>
                                    <input type="text" class="form-control" id="passwordField2" name="password" aria-label="Password Confirmation" title="Password Confirmation" 
                                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="8 or more characters 0-9, a-z, A-Z" required>
                                    <div class="invalid-feedback">
                                    Minimum required 8 <br class="password-message-wrap">characters (0-9, a-z, A-Z)
                                    </div>
                                    <div id="validPassword" class="form-label-spacing"></div>
                            </div>

                            <p id="recapcha-message">Please Check the box</p>
                            <div id="recapcha" class="form-group form-label-spacing g-recaptcha text-center" data-sitekey="6Lc_NvkdAAAAABliu3xsr-Kkqf6c3kuVE3EDYFA8" data-callback="verifyRecapcha">
                            </div>
                            
                        
                            <div class="form-group form-label-spacing">
                                <button id="submitForm" class="btn btn-outline-success text-center col-12 change-text-color"
                                    type="submit" title="Submit" name="submit" aria-label="Submit Form">Reset Password
                                </button>
                            </div>
                            <div class="row text-center justify-content-between">
                                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 login-options">
                                    <a href="/join"><div class="btn-sm btn-outline-success text-center col-12 change-text-color"
                                        title="Create Account" 
                                        aria-label="Create Account">No Account ?</div></a>
                                </div>
                                <div class="col col-sm-12 col-md-6 col-lg-6 col-xl-4 login-options">
                                    <a href="/signin"><div class="btn-sm btn-outline-success text-center col-12 change-text-color"
                                        title="Forgot Password" 
                                        aria-label="Forgot Password">Sign In</div></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                </fieldset>

            </form>
        </div>
    </div>
</div>
{% endblock %}
    