{% extends "base.html" %}

{% block title %}
{{ title }}
{% endblock %}

{% block aside %}
<!-- News content -->
<section>
  <aside class="news-navigation-aside">
    <h2 class="news-heading" title="News Content" aria-label="News content">Latest News</h2>
    <ul>
      {% for new in news %}
      <li>
        <p>Check here for the latest news on our ever expanding list of Genres, 
          Authors and stories</p>
        </li>
        <hr class="news-hr">
      <li>
        <p>We would like to give a Warm Welcome to our newest Author <span
            class="news-text">{{ new.author|title }}</span>.</p>
      </li>
      <hr class="news-hr">
      <li>
        <p><span class="news-text"> {{ new.author|title }}</span> is sharing his writing with us all the way from <span
            class="news-text">{{ new.city_name|title }}</span>, <span
            class="news-text">{{ new.country_name|title }}</span>.</p>
      </li>
      <hr class="news-hr">
      <li>
        <p>The latest addition to our <span class="news-text">{{ new.genre|title }}</span> genre is the short story
          "<span class="news-text">{{ new.name|title }}</span>", why not head over there and check it out.</p>
      </li>
      <hr class="news-hr">
      <li>
        <p>Our <span class="news-text">{{ new.genre|title }}</span> genre just recently had some short stories added...
        </p>
      </li>
      {% endfor %}
    </ul>
  </aside>
</section>
{% endblock%}

{% block content %}
<div class="container">
  <div class="row d-flex justify-content-around">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <form id="signin-form" method="POST" class="needs-validation" novalidate action="{{ url_for('signin') }}"
        onsubmit="return isRecapchaValid()">
        <fieldset class="background-theme">
          <div class="row d-flex justify-content-around">
            <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
              <br>
              <h2 class="text-center" title="Form Title" aria-label="Form Title">{{ title }}</h2>
              <div class="form-group form-label-spacing">
                <input type="text" class="form-control" id="pen-name" name="pen_name" aria-label="Pen Name"
                  title="Pen Name" placeholder="Pen Name" required="required">
                <div class="valid-feedback">
                  Looks Good!
                </div>
                <div class="invalid-feedback">
                  Please check your Pen Name or Password
                </div>
              </div>
              <div class="form-group form-label-spacing">
                <input type="text" class="form-control" id="password" name="password" aria-label="Password"
                  title="password" placeholder="Password" required="required">
                <div class="valid-feedback">
                  Looks Good!
                </div>
                <div class="invalid-feedback">
                  Please check your Pen Name or Password
                </div>
              </div>
              <p id="recapcha-message" class="recapcha-text-spacing">Please Check the Recapcha box</p>
              <div id="recapcha" class="form-group g-recaptcha text-center"
                data-sitekey="6Lc_NvkdAAAAABliu3xsr-Kkqf6c3kuVE3EDYFA8" data-callback="verifyRecapcha">
              </div>
              <br>
              <div class="form-group form-label-spacing">
                <button id="submitForm" class="btn btn-outline-success text-center col-12 change-text-color"
                  type="submit" title="Submit" name="submit" aria-label="Submit Form">{{ title }}</button>
              </div>
              <div class="row text-center justify-content-between">
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 login-options">
                  <a href="/join">
                    <div class="btn-sm btn-outline-success text-center col-12 change-text-color" title="Create Account"
                      aria-label="Create Account">No Account ?</div>
                  </a>
                </div>
                <div class="col col-sm-12 col-md-6 col-lg-6 col-xl-4 login-options">
                  <a href="/resetpassword">
                    <div class="btn-sm btn-outline-success text-center col-12 change-text-color" title="Forgot Password"
                      aria-label="Forgot Password">Forgot Password?</div>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <br>
        </fieldset>
      </form>
    </div>
  </div>
</div>
{% endblock %}