{% extends "base.html" %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <form id="signin-form" method="POST" class="needs-validation" novalidate action="{{ url_for('signin') }}">
                <fieldset class="background-theme">

                    <div class="row d-flex justify-content-around">
                        <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8 col-8">
                            <br>
                            <h2 class="text-center" title="Form Title" aria-label="Form Title">{{ title }}</h2>
                            <div class="form-group form-label-spacing">
                                <input type="text" class="form-control" id="pen-name" name="pen_name"
                                    aria-label="Pen Name" title="Pen Name" placeholder="Pen Name" required="required">
                                <div class="valid-feedback">
                                    Looks Good!
                                </div>
                                <div class="invalid-feedback">
                                    Please check your Pen Name or Password
                                </div>
                            </div>
                            <div class="form-group form-label-spacing">
                                <input type="text" class="form-control" id="password" name="password"
                                    aria-label="Password" title="Password" placeholder="Password" required="required">
                                <div class="invalid-feedback">
                                    Please check your Pen Name or Password
                                </div>
                            </div>
                            <div class="form-group form-label-spacing">
                                <button id="submitForm" class="btn btn-outline-success text-center col-12 change-text-color"
                                    type="submit" title="Submit" name="submit" aria-label="Submit Form">{{ title }}</button>
                            </div>
                            <div class="row text-center justify-content-between">
                                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 login-options">
                                    <a href="/join"><div class="btn-sm btn-outline-success text-center col-12 change-text-color"
                                        title="Create Account" 
                                        aria-label="Create Account">No Account ?</div></a>
                                </div>
                                <div class="col col-sm-12 col-md-6 col-lg-6 col-xl-4 login-options">
                                    <a href="/resetpassword"><div class="btn-sm btn-outline-success text-center col-12 change-text-color"
                                        title="Forgot Password" 
                                        aria-label="Forgot Password">Forgot Password?</div></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                </fieldset>

            </form>
        </div>
    </div>
</div>
{% endblock %}
<!-- Flashed Messages content-->
